
body {
    -webkit-touch-callout: none;               
    -webkit-text-size-adjust: none;            
    -webkit-user-select: none;                 
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../icon.png) no-repeat center top; /* 170px x 200px */
    position:absolute;            
    left:50%;
    top:50%;
    height:50px;                  
    width:225px;                  
    text-align:center;
    padding:180px 0px 0px 0px;    
    margin:-115px 0px 0px -112px; 
                                  
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 175px 120px;
        margin: -150px 0px 0px -198px;
    }
    
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/*modal*/
.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(143,27,15,0.8);
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}
.md-perspective,
.md-perspective body {
    height: 100%;
    overflow: hidden;
}

.md-perspective body  {
    background: #222;
    perspective: 600px;
}

.container {
    background: #e74c3c;
    min-height: 100%;
}

/*modal effect blur*/
.md-show.md-effect-16 ~ .md-overlay {
    background: rgba(180,46,32,0.5);
}

.md-show.md-effect-16 ~ .container {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
}

.md-effect-16 .md-content {
    -webkit-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    transform: translateY(-5%);
    opacity: 0;
}

.md-show.md-effect-16 ~ .container,
.md-effect-16 .md-content {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-16 .md-content {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}


/*main*/
.main{ background: white; height: 90%; margin-top: 20px; position: fixed;
    left: 5%; right: 5%; /*min-height: 400px;*/
}
.pane {
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.drawer-manager, .pane {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.pane-list-header {
    padding-right: 16px;
    padding-left: 15px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.pane-header, .pane-subheader {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}
.pane-header {
    height: 59px;
    width: 100%;
    background-color: #eee;
    z-index: 1000;
}

.column, .chatlist, .pane-list-body, .table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.column, .chatlist, .pane-list-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.pane-list-body {
    background-color: #fefefe;
    overflow-y: auto;
}
.pane-one{ float: left;}
.pane-two {
    -webkit-transform-origin: left top;
    transform-origin: left top;
}
.pane-chat {
    background-color: #e0dad6;
}


.maincontent {
    width: 50%;
    margin:30px auto;
    text-align:center;
}


*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
}
*::-webkit-scrollbar-track {
    background: rgba(255,255,255,.08);
}
@media screen and (max-width: 900px){
.pane-one {
    width: 40%;
}
.pane-two{ width: 60%; }
.maincontent textarea{
    width:100%; height:50px; outline: none; border: none;
    font-size: 10px;
    text-align: center;
    background: transparent;
}
select.lstDay, select.lstMonth {
    width: 40px;
    height: 40px;
    font-size: 40px;
    background: black;
    color: white;
}
select.lstMonth{
    width: 120px;
}
}
@media screen and (min-width: 1301px){
.pane-one {
    width: 30%;
}
.pane-two{ width: 70%; }
}
.maincontent textarea{
    width:100%; height:150px; outline: none; border: none;
    font-size: 30px;
    text-align: center;
    background: transparent;
}
select.lstDay, select.lstMonth {
    width: 90px;
    height: 90px;
    font-size: 90px;
    background: black;
    color: white;
}
select.lstMonth{
    width: 180px;
}
.lstHr, .lstMin{
    width: 120px;
    height: 120px;
    font-size: 90px;
    background: black;
    color: white;
}
.appointment{
    padding: 5px;
    border-bottom: 1px solid grey;
    font-size: 20px;
    text-transform: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.del{    position: absolute;
    right: 0;
    color: white;
    background: #D8350F;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    text-transform: lowercase;
    line-height: 0.9; cursor: pointer;}
.selected{
    background: black;
    color: white;
}